<h1>New Order</h1>
<form action="/orders" method="POST">
  <p>
    <label>Order Date:</label><br>
    <input type="date" name="order_date" required>
  </p>
  <p>
    <label>Required Date:</label><br>
    <input type="date" name="required_date">
  </p>
  <p>
    <label>Store ID:</label><br>
    <input type="number" name="store_id">
  </p>
  <p>
    <input type="submit" value="Create">
    <a href="/orders">Cancel</a>
  </p>
</form>


